%script#newPlayer{"type"=>"text/ng-template"}
  %h2
    {{tittle}}
    player
  %form.dialog{"name"=>"create_form", "ng-submit"=>"formClicked = true; create_form.$valid && createForm()", "novalidate"=>"novalidate"}
    .form-group
      %label Firstname
      %input{"type"=>"text", "name"=>"firstname", "ng-model"=>"player.firstname", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.firstname.$invalid"}
        %small Firstname is required.
    .form-group
      %label Lastname
      %input{"type"=>"text", "name"=>"lastname", "ng-model"=>"player.lastname", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.lastname.$invalid"}
        %small Lastname is required.
    .form-group
      %label E-mail
      %input{"type"=>"email", "name"=>"email", "ng-model"=>"player.email", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.email.$invalid"}
        %small E-mail is required.
    .form-group
      %label Date of birth
      %input{"type"=>"date", "name"=>"date_of_birth", "ng-model"=>"player.date_of_birth", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.date_of_birth.$invalid"}
        %small Date of birth is required.
    .form-group
      %label Max break
      %input{"type"=>"number", "name"=>"max_break", "ng-model"=>"player.max_break", "required"=>"", "min"=>"1", "max"=>"155"}
      .error{"ng-show" => "formClicked && create_form.max_break.$invalid"}
        %small Max break is required. Break must be between 1 and 155.
    .form-group
      %label Phone Number
      %input{"type"=>"number", "name"=>"phone_number", "ng-model"=>"player.phone_number", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.phone_number.$invalid"}
        %small Phone Number is required.
    .form-group
      %label City
      %input{"type"=>"text", "name"=>"city", "ng-model"=>"player.city"}
    %input.hidden{"type"=>"text", "name"=>"id", "ng-model"=>"player.id"}

    %input{:type => "submit", :value => "{{buttonTittle}}"}
