
%form-player

%flash:messages

%a{"ng-click"=>"addNewPlayer()", "href"=>""}
  Add new Player

%form.text-center
  %input.search-input{"type"=>"text", "placeholder"=>"Search for players",
                      "name"=>"query", "ng-model"=>"query", "ng-change"=>"getAll()"}
  %p
    %a{"href"=>"", "ng-click"=>"getAll()"} Show all players

%pagination

%table.table
  %tr
    %th
    %th
      %a{"ng-click"=>"reverse=!reverse;sort('id',reverse)", "href"=>""}
        Id
    %th
      %a{"ng-click"=>"reverse=!reverse;sort('firstname', reverse)", "href"=>""}
        Firstname
    %th
      %a{"ng-click"=>"reverse=!reverse;sort('lastname',reverse)", "href"=>""}
        Lastname
    %th
      %a{"ng-click"=>"reverse=!reverse;sort('max_break',reverse)", "href"=>""}
        Max Break
    %th
      %a{"ng-click"=>"reverse=!reverse;sort('email',reverse)", "href"=>""}
        E-mail
    %th
    %th
    %tr{"ng-repeat"=>"player in players | unique:'id'"}
      %td{"ng-bind"=>"$index + 1"}
      %td{"ng-bind"=>"player.id"}
      %td{"ng-bind"=>"player.firstname"}
      %td{"ng-bind"=>"player.lastname"}
      %td{"ng-bind"=>"player.max_break"}
      %td{"ng-bind"=>"player.email"}
      %td
        %a{"ng-href"=>"player/{{player.id}}"}
          Show
      %td
        %a{"ng-show"=>"player.delete", "ng-click"=>"deletePlayer(player.id)", "href"=>""}
          Delete

%pagination



