
.showPlayer

  %form-player

  %flash:messages

  %a{"ng-click"=>"editPlayer()", "href"=>""}
    Edit Player

  %h1{"ng-bind"=>"player.firstname + ' ' + player.lastname"}

  %p
    %b E-mail:
    %div{"ng-bind"=>"player.email"}
  %p
    %b City:
    %div{"ng-bind"=>"player.city"}
  %p
    %b Max break:
    %div{"ng-bind"=>"player.max_break"}
  %p
    %b Phone Number:
    %div{"ng-bind"=>"player.phone_number"}

  %p
    %b Date of Birth
    %div{"ng-bind"=>"player.date_of_birth | date:'yyyy-MM-dd'"}

  %table
    %tr
      %th
        Break
      %th
        League
      %th
        Date
    %tr{"ng-repeat"=>"break in player.breaks"}
      %td{"ng-bind"=>"break.points"}
      %td{"ng-bind"=>"break.league"}
      %td{"ng-bind"=>"break.date | date:'yyyy-MM-dd'"}

  %a{"ng-href"=>"/players", "href"=>""}
    Back
