%div{"ng-controller" => "leagueEditController","model"=>"#{@league.id}"}
  = link_to 'Rounds', edit_all_league_path(@league), class: 'btn btn-default'

  = render 'form'

  %table.table
    %tr
      %th
      %th id
      %th Firstname
      %th Lastname
      %th Max break
      %th E-mail
      %th
      %th
      %tr{"ng-repeat"=>"player in league_players"}
        %td{"ng-bind"=>"$index + 1"}
        %td{"ng-bind"=>"player.id"}
        %td{"ng-bind"=>"player.firstname"}
        %td{"ng-bind"=>"player.lastname"}
        %td{"ng-bind"=>"player.max_break"}
        %td{"ng-bind"=>"player.email"}
        %td
          %a{"ng-href"=>"players/{{player.id}}" }
            Show
        %td
          %a{"ng-click"=>"removePlayer(player.id)", "href"=>""}
            Remove

  %table.table
    %tr
      %th
      %th id
      %th Firstname
      %th Lastname
      %th Max break
      %th E-mail
      %th
      %th
      %tr{"ng-repeat"=>"player in players | orderBy:'id' | unique:'id'"}
        %td{"ng-bind"=>"$index + 1"}
        %td{"ng-bind"=>"player.id"}
        %td{"ng-bind"=>"player.firstname"}
        %td{"ng-bind"=>"player.lastname"}
        %td{"ng-bind"=>"player.max_break"}
        %td{"ng-bind"=>"player.email"}
        %td
          %a{"ng-href"=>"players/{{player.id}}" }
            Show
        %td
          %a{"ng-click"=>"addPlayer(player.id)", "href"=>""}
            Add
