%div.loading{"ng-show"=>"loading"}
  .container
    #circularG
      #circularG_1.circularG
      #circularG_2.circularG
      #circularG_3.circularG
      #circularG_4.circularG
      #circularG_5.circularG
      #circularG_6.circularG
      #circularG_7.circularG
      #circularG_8.circularG
    .text
      Page is loading...
