%script#newLeague{"type"=>"text/ng-template"}
  %h2
    {{tittle}}
    league
  %form.dialog{"name"=>"create_form", "ng-submit"=>"formClicked = true; create_form.$valid && league.best_of%2 == 1 && createForm()", "novalidate"=>"novalidate"}
    .form-group
      %label Name
      %input{"type"=>"text", "name"=>"name", "ng-model"=>"league.name", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.name.$invalid"}
        %small Name is required.
    .form-group
      %label Start date
      %input{"type"=>"date", "name"=>"start_date", "ng-model"=>"league.start_date", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.start_date.$invalid"}
        %small Start date is required.
    .form-group
      %label End date
      %input{"type"=>"date", "name"=>"end_date", "ng-model"=>"league.end_date", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.end_date.$invalid"}
        %small End date is required.
    .form-group
      %label Best Of
      %input{"type"=>"number", "name"=>"best_of", "ng-model"=>"league.best_of", "required"=>"", "min"=>"1"}
      .error{"ng-show" => "formClicked && create_form.best_of.$invalid || league.best_of%2 == 0"}
        %small Best is required. Best Of must be more than 1 and odd.
    .form-group
      %label Number of winners
      %input{"type"=>"number", "name"=>"number_of_winners", "ng-model"=>"league.number_of_winners", "required"=>"", "min"=>"1"}
      .error{"ng-show" => "formClicked && create_form.number_of_winners.$invalid"}
        %small Number of winner is required.
    .form-group
      %label Number of dropots
      %input{"type"=>"number", "name"=>"number_of_dropots", "ng-model"=>"league.number_of_dropots", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.number_of_dropots.$invalid"}
        %small Number of dropots is required.
    .form-group
      %label Win points
      %input{"type"=>"number", "name"=>"win_points", "ng-model"=>"league.win_points", "required"=>"", "min"=>"1"}
      .error{"ng-show" => "formClicked && create_form.win_points.$invalid"}
        %small Win points is required.
    .form-group
      %label Loss points
      %input{"type"=>"number", "name"=>"loss_points", "ng-model"=>"league.loss_points", "required"=>""}
      .error{"ng-show" => "formClicked && create_form.loss_points.$invalid"}
        %small Loss points is required.
    %input.hidden{"type"=>"text", "name"=>"id", "ng-model"=>"league.id"}

    %input{:type => "submit", :value => "{{buttonTittle}}"}
