%nav
  .container
    .left
      .navbar-header
        %span.navbar-brand
          =link_to "SnookerLeague", root_path
    .center
      %h1.navbar-brand
        = full_title(yield(:title))
    .right
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "Home", root_path
        %li
          =link_to "Leagues", leagues_path
        %li
          =link_to "Players", players_path
        %li
          =link_to "Statistics", root_path
