%table
  %tr
    %th
      Pos
    %th
      Name
    %th
      Pld
    %th
      Pts
    %th
      W
    %th
      L
    %th
      WF
    %th
      LF
    %th
      WSP
    %th
      LSP
    %th
      DIFF
  %tr{"ng-repeat"=>"table in league.tables | orderBy:'position'", "ng-click"=>"searchMatches(table.player_id)"}
    %td{"ng-bind"=>"table.position"}
    %td{"ng-bind"=>"table.name"}
    %td{"ng-bind"=>"table.number_of_matches"}
    %td{"ng-bind"=>"table.points"}
    %td{"ng-bind"=>"table.number_of_wins"}
    %td{"ng-bind"=>"table.number_of_loss"}
    %td{"ng-bind"=>"table.number_of_win_frames"}
    %td{"ng-bind"=>"table.number_of_lose_frames"}
    %td{"ng-bind"=>"table. number_of_win_small_points"}
    %td{"ng-bind"=>"table.number_of_lose_small_points"}
    %td{"ng-bind"=>"table.diff_small_points"}