%div{"ng-controller" => "playerController", "model"=>"#{@player.id}"}

  = render 'formPlayer', locals: {title: 'Edit ', button: 'Edit'}

  %flash:messages

  %a{"ng-click"=>"editPlayer()", "href"=>""}
    Edit Player

  %h1{"ng-bind"=>"player.firstname + ' ' + player.lastname"}

  %p
    %b E-mail:
    %div{"ng-bind"=>"player.email"}
  %p
    %b City:
    %div{"ng-bind"=>"player.city"}
  %p
    %b Max break:
    %div{"ng-bind"=>"player.max_break"}
  %p
    %b Phone Number:
    %div{"ng-bind"=>"player.phone_number"}

  %p
    %b Date of Birth
    %div{"ng-bind"=>"player.date_of_birth"}

  = link_to 'Back', players_path
