/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$blue: #03a9f4;
$white: white;
$navbar: 50px;

main {
  padding: 10px;
  color: rgba(0, 0, 0, 0.73);
  top: $navbar;
  position: absolute;
  width: 100%;
}


form {
  width: 300px;
}

.matchesRound {
  margin: 20px;
}

.playersMatch {
  div {
    display: inline;
  }
}

.repeatedPlayer {
  color: red;
}

.repeatedMatch {
  color: darkred;
  font-weight: bold;
}


th {
  text-align:center;
  vertical-align:middle;
  padding: 5px;
  input {
    width: 50px;
  }
}

td {
  text-align:center;
}

table {
  ul {
    list-style-type: none;
    margin-bottom: 0px;
  }
}

#flash-messages {
  li {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  .success {
    color: #56964C;
    background-color: #E1FBCC;
    border: #56964C;
    border-width: 2px;
    border-style: solid;
  }
  .warning {
    color: #FF6F6C;
    background-color: #FFF0F0;
    border: #FF6F6C;
    border-width: 2px;
    border-style: solid;
  }
}

$nav-center-width: 700px;

nav {
  .container {
    z-index: 3;
    position:fixed;
    height: $navbar;
    width:100%;
    background-color: $blue;
    color: white;
    //margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    div {
      //background:grey;
      //width:200px;
    }
    .left {
      position:absolute;
      left: 0px;
      bottom:0px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .center {
      position: absolute;
      left: 50%;
      margin-left: -$nav-center-width/2;
      bottom: 0px;
      text-align: center;
      width: $nav-center-width;
      h1.navbar-brand {
        float: none;
        font-size: 30px;
        margin: 0px;
      }
    }
    .right {
      position: absolute;
      right: 20px;
      bottom: 0px;
      ul {
        li {
          a {
            color: white;
            text-decoration: none;
          }
        }
        li:hover {
          background-color: #EDEDED;
          a {
            color: $blue;
          }
        }
      }
    }

  }
}

form.dialog {
  width: 100%;
}

form {
  .error {
    color: red;
  }
}

.title {
  text-align: center;
}

.showTables {
  position: fixed;
  z-index: -1;
  top: 100px;
  width: 50%;
  margin: 0 0 0 -40%;
  left: 50%;
  .container {
  }
}

.showRounds {
  z-index: 2;
  width: 50%;
  //top: 100px;
  //right: 0px;
  //position: fixed;
  margin-left: 50%;
  position: inherit;
  .container {
    float: left;
    width: 500px;
    .round {
      padding-bottom: 20px;
      margin-bottom: 20px;
      .roundTitle {
        background-color: $blue;
        color: $white;
        padding: 10px;
        h3.number {
          text-align: center;
          font-weight: bold;
          margin: 0;
        }
        .date {
          text-align: center;
          span {
            margin: 5px;
          }
        }
      }
      .match {
        text-align: center;
        border-color: #d7d7d7;
        border-style: solid;
        border-width: 1px;
        border-top-style: none;
        padding: 10px;
        .date {
          color: grey;
        }
        table {
          margin-left: auto;
          margin-right: auto;
          tr.score {
            font-weight: bold;
            th {
              padding-top: 0px;
            }
          }
          tr.frame {
            ul.breaks {
              list-style: none;
              padding: 0px;
              font-size: 12px;
              color: grey;

              li {
                display: inline;
              }

              li:first-child:before {
                content: "(";
              }

              li:after {
                content: ", ";
              }

              li:last-child:after {
                content: ")";
              }

            }
          }
        }
      }
    }
  }
}

.two-column-table {
  display: table;
  //width: 100%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  .cell {
    display: inline-table;
    padding: 20px;
    width: 50%;
    width: 600px;
  }
}
